#main-box {
    text-align: center;
    height: 550px;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    background-color: aqua;
}

#top-half {
    height: 100px;
    width: auto;
    background-color: pink;
}

#bottom-half {
    height: 100px;
    width: auto;
    background-color: purple;
}

#generated {
    border-style: dashed;
    height: 100px;
    width: auto;
    color: grey;
    background-color: khaki;
}

.buttons {
    border-style: solid;
}

#gen-btn {
    color: white;
    background-color: red;
    float: left;
}

#copy {
    color: white;
    background-color: green;
    float: right;

}