body {   
    background-color: rgb(249, 251, 253);
}
#main-box {
    text-align: center;
    height: 550px;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(249, 251, 253);
}

h1 {
    color: rgb(59, 73, 84);
    font-size: 30px;
}

#top-half {
    height: 80px;
    width: auto;
}

#small-box {
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 800px;
    margin: auto;
    box-shadow: 1px 1px 10px 5px grey;
}


#bottom-half {
    height: auto;
    width: 700px;
    background-color: white;
    text-align: left;
    font-size: 20px;
    color: rgb(59, 73, 84);
    margin: auto;
    padding: 10px;
}

#generated {
    border-style: dashed;
    height: 150px;
    width: 700px;
    color: grey;
    background-color: white;
    font-size: 18px;
    margin: auto;
    border-radius: 10px;
}

.buttons {
    padding: 20px;
    height: auto;
}

#gen-btn {
    color: white;
    background-color: red;
    float: left;
    margin-left: 40px;
    width: 250px;
    border-radius: 25px;
}

#copy {
    color: white;
    background-color: green;
    float: right;
    margin-right: 40px;
    width: 250px;
    border-radius: 25px;
}